<div class="page">
    <div class="page-main">

        

      

        <!--app-content open-->
        <div class="app-content main-content mt-0">
            <div class="side-app">

                <!-- CONTAINER -->
                <div class="main-container container-fluid">

                        
                    <!-- PAGE-HEADER -->
                    <div class="page-header">
                        <div>
                            <h1 class="page-title">Product Page</h1>
                        </div>
                        <div class="ms-auto pageheader-btn">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Product Page</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add Products</li>
                            </ol>
                        </div>
                    </div>
                    <!-- PAGE-HEADER END -->

                   
                   

                   

                    <!-- row -->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-header border-bottom">
                <h3 class="card-title">Add Products</h3>
            </div>
            <div class="card-body">
                <p class="text-muted"></p>
                <!-- Check if there are less than 3 banners before enabling the "Add" button -->
          
                <a href="#" class="btn btn-primary" data-bs-target="#modaldemo1" data-bs-toggle="modal">
                    Add
                </a>
               
                <!-- Display a message or modal to inform the user that they can't add more banners -->
                <!-- <p style="color: red;">You have reached the maximum item limit. If you want to add more items, you must delete something below.</p> -->
               
            </div>
        </div>
    </div>
</div>
<!-- /row -->

    <!-- Row -->

    <div class="row">
        <div class="row row-sm">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3 class="card-title"> Product Datatable</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="editable-responsive-table" class="table editable-table table-nowrap table-bordered table-edit wp-100">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Image</th>
                                        <th>Price</th>
                                        <th>MRP</th>
                                        <th>Size</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 
                                <% for(let i = 0; i < Data.length;i++){%>
                                    <% let item = Data[i]%>
                                    <tr>
                                            <td><%=item.code%></td>
                                            <td><%=item.name%></td>
                                            <td>
                                                <% if (item.image && item.image.length > 0) { %>
                                                    <% item.image.forEach((image, index) => { %>
                                                        <img src="<%= image %>" style="height: 3em;" alt="Product Image <%= index + 1 %>">
                                                    <% }) %>
                                                <% } else { %>
                                                    No images available
                                                <% } %>
                                            </td>
                                            <td>₹. <%=item.price%></td>
                                            <td><%=item.mrp%></td>
                                           <td>
                                            <% if(item.size && item.size.length > 0){%>
                                                <%item.size.forEach((item,index)=>{%>
                                                    <%=item%>
                                                <%})%>
                                            <%}%>
                                           </td>
                                            <td>
                                                <div class="card-body">
                                                    <p class="text-muted"></p>
                                                    <a href="#" class="btn btn-success" data-bs-target="#modaldemo2_<%=i%>" data-bs-toggle="modal">Edit </a>
                                                   <a  class="btn btn-danger" data-bs-target="#modaldemo3_<%=i%>" data-bs-toggle="modal">Delete </a>
                                                    
                                               
                                                </div> 
                                            </td>
                                    </tr>
                                    <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

       
                   

                    
                </div>
            </div>
        </div>
            <!-- CONTAINER CLOSED -->
     </div>



    
    <!-- Addmodal -->
    <div id="modaldemo1" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/admin/Add-Product"  id="inputForm" method="POST" enctype="multipart/form-data" >
                <div class="modal-body">
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder=" Product Name" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Product MRP" name="mrp" id="mrp" required>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Product price" name="price" id="price" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Product Description" name="description" id="description" required>
                    </div>
                    <div class="form-group">
                        <select name="category" id="category"  class="form-control" required>
                            <option>select Category</option>
                            <% for(i = 0; i < category.length;i++){%>
                                <% let item = category[i]%>
                                <option value="<%=item._id%>">
                                    <%=item.heading%>
                                </option>
                            <%}%>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="fashion" id="fashion"  class="form-control" required>
                            <option>select Fashion</option>
                            <% for(i = 0; i < FashionData.length;i++){%>
                                <% let item = FashionData[i]%>
                                <option value="<%=item._id%>">
                                    <%=item.heading%>
                                </option>
                            <%}%>
                        </select>
                    </div>
                    <div class="form-group">
                        <div id="inputContainer">
                        <div class="input-group">
                            <input type="text" placeholder="size" class="form-control" name="size[]" required autocomplete="off">
                            <div class="input-group-append">
                              <button type="button" class="btn btn-success" onclick="addInputField()">Add</button>
                              <button type="button" class="btn btn-danger" onclick="deleteInputField(this)">Delete</button>
                            </div>
                          </div>
                          </div>
                    </div>
                    <!-- form-group -->
                    <div class="form-group">
                        <input class="form-control" placeholder="banner image"  id="formFileLg" name="image" type="file" multiple  required>
                    </div>
                   
                    
                    <button class="btn btn-primary btn-block mt-5"  type="submit" onclick="submitForm()">Save</button>
                </div>
            </form><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!--Add modal close -->


   
   
    <% for (let i = 0; i < Data.length; i++) { %>
        <% let item = Data[i]; %>
        <div id="modaldemo2_<%= i %>" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="edit-product/<%= item._id %>" id="inputForm_<%= i %>" method="POST" enctype="multipart/form-data">
                        <div class="modal-body">
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Product Name" value="<%= item.name %>" name="name" id="name_<%= i %>" >
                            </div>
                            
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Description" value="<%= item.description %>" name="description" id="description_<%= i %>" >
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="MRP" value="<%= item.mrp %>" name="mrp" id="mrp_<%= i %>" >
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Price" value="<%= item.price %>" name="price" id="price_<%= i %>" >
                            </div>
                            <div class="form-group">
                                <select name="fashion" id="fashion_<%= i %>" class="form-control select" required>
                                    <option value="<%= item.fashion._id %>"><%= item.fashion.heading %></option>
                                    <% for (let j = 0; j < FashionData.length; j++) { %>
                                        <% let fashionItem = FashionData[j]; %>
                                        <option value="<%= fashionItem._id %>">
                                            <%= fashionItem.heading %>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="category" id="category_<%= i %>" class="form-control select" required>
                                    <option value="<%= item.category._id %>"><%= item.category.heading %></option>
                                    <% for (let k = 0; k < category.length; k++) { %>
                                        <% let categoryItem = category[k]; %>
                                        <option value="<%= categoryItem._id %>">
                                            <%= categoryItem.heading %>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <div id="inputContainers_<%= i %>">
                                    <div class="input-group">
                                        <input type="text" placeholder="Size" class="form-control" name="size[]" required autocomplete="off">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-success" onclick="editInputField('<%= i %>')">Add</button>
                                            <button type="button" class="btn btn-danger" onclick="deleteInputFields(this)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="image-container_<%= i %>">
                                <% for (let j = 0; j < item.image.length; j++) { %>
                                    <div class="image-wrapper" id="image-wrapper-<%= j %>">
                                        <img src="<%= item.image[j] %>" id="selectedImage_<%= j %>" style="height: 14em;">
                                        <input type="hidden" name="image" value="<%= item.image[j] %>">
                                        <button class="btn btn-danger" type="button" onclick="removeImage('<%= j %>')">Click to Remove Image</button>
                                    </div>
                                <% } %>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Banner Image" id="formFileLg_<%= i %>" multiple name="image" type="file" onchange="updateImagePreview(this, 'selectedImage_<%= i %>')">
                                </div>
                            </div>
                              
                            <button class="btn btn-primary btn-block mt-5" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   
    

  
    <!-- Delete Modal -->
    <div id="modaldemo3_<%=i%>" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               
                <div class="modal-body">
                    <div class="modal-header" >
                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                       </div>
                       <div class="modal-body">
                        <p>Are you sure you want to delete?</p>
                      </div>
                      <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" id="close-modal">No</button>
                        <a href="delete-Product/<%= item._id %>"  class="btn btn-danger" type="button">Yes</a>
                       </div>
            
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
   </div>

    <!-- Delete Modal Close -->


<% } %>




  
   

</div>
<script>


document.addEventListener('DOMContentLoaded', function() {
      function addInputField() {
        const inputContainer = document.getElementById('inputContainer');
        const newInputGroup = document.createElement('div');
        newInputGroup.className = 'input-group';
        newInputGroup.innerHTML = `
          <input type="text" placeholder="size" class="form-control" name="size[]" required autocomplete="off">
          <div class="input-group-append">
            <button type="button" class="btn btn-success" onclick="addInputField()">Add</button>
            <button type="button" class="btn btn-danger" onclick="deleteInputField(this)">Delete</button>
          </div>
        `;
        inputContainer.appendChild(newInputGroup);
      }
      function editInputField() {
        const inputContainers = document.getElementById('inputContainers');
        const newInputGroup = document.createElement('div');
        newInputGroup.className = 'input-group';
        newInputGroup.innerHTML = `
          <input type="text" placeholder="size" class="form-control" name="size[]" required autocomplete="off">
          <div class="input-group-append">
            <button type="button" class="btn btn-success" onclick="editInputField()">Add</button>
            <button type="button" class="btn btn-danger" onclick="deleteInputFields(this)">Delete</button>
          </div>
        `;
        inputContainers.appendChild(newInputGroup);
      }
      function deleteInputFields(button) {
        const inputGroup = button.parentElement.parentElement;
        const inputContainer = document.getElementById('inputContainers');
        if (inputContainer.children.length > 1) {
          inputContainer.removeChild(inputGroup);
        } else {
          alert("At least one input field is required.");
        }
      }

      function deleteInputField(button) {
        const inputGroup = button.parentElement.parentElement;
        const inputContainer = document.getElementById('inputContainer');
        if (inputContainer.children.length > 1) {
          inputContainer.removeChild(inputGroup);
        } else {
          alert("At least one input field is required.");
        }
      }

      window.addInputField = addInputField;
      window.editInputField = editInputField;
      window.deleteInputField = deleteInputField;
      window.deleteInputFields = deleteInputFields;
    }); </script>
    <script>
     function updateImagePreview(input, imageId) {
  if (input.files && input.files[0]) {
    const reader = new FileReader();
    reader.onload = function(e) {
      document.getElementById(imageId).src = e.target.result;
    }
    reader.readAsDataURL(input.files[0]);
  }
}

function removeImage(index) {
  const imageWrapper = document.getElementById('image-wrapper-' + index);
  if (imageWrapper) {
    imageWrapper.parentNode.removeChild(imageWrapper);
  }
}

function addNewImage(input) {
  if (input.files && input.files[0]) {
    const reader = new FileReader();
    reader.onload = function(e) {
      const imageContainer = document.getElementById('image-container');
      const newImageId = 'newImage' + Date.now();
      const newImageWrapper = document.createElement('div');
      newImageWrapper.classList.add('image-wrapper');
      newImageWrapper.id = newImageId;

      newImageWrapper.innerHTML = `
        <img src="${e.target.result}" style="height: 14em;">
        <div class="form-group">
          <input class="form-control" name="image" type="file" onchange="updateImagePreview(this, '${newImageId}')">
        </div>
        <button type="button" class="btn btn-danger" onclick="removeImage('${newImageId}')">Remove Image</button>
      `;

      imageContainer.appendChild(newImageWrapper);
    }
    reader.readAsDataURL(input.files[0]);
  }
}

    </script>

    