<div class="slider-area text-center mt-2">
    <div class="container-fluid">
        <div class="slider-active">
            <% if(BannerData){%>

                <% for (let i = 0; i < BannerData.length; i++){%>
                    <% let item = BannerData[i]; %>
                    <div class="single-slider slider-opacity gray-2-bg" style="background-image: url(<%=item.image%>);">
                        <div class="slider-text">
                            <!-- <h2 style="opacity: 0.9;"><%=item.heading%></h2>
                            <h3 style="opacity: 0.9;"><%=item.description%></h3> -->
                            <!-- <a href="/shop" style="opacity: 0.9;">Shop The Collection</a> -->
                        </div>
                    </div>
         
            <%}%>
          <%}else{%>
            <div class="single-slider slider-opacity ptb-250 gray-2-bg" style="background-image: url(assets/images/bonky/11.jpg);">
                <div class="slider-text" style="background-color: rgba(255, 255, 255, 0.5); padding: 20px; border-radius: 45px;">
                    <h2 style="opacity: 0.9;">Banner Heading</h2>
                    <h3 style="opacity: 0.9;">A good looking, comfortable traditional collection</h3>
                    <a href="/shop" style="opacity: 0.9;">Shop The Collection</a>
                </div>
            </div>
            <%}%>
         </div>

         <div class="about-area ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-xl-8 ms-auto me-auto">
                        <div class="about-text">
                            <!-- <img src="assets/img/blog/4.jpg" alt=""> -->
                            <div class="about-text-title text-center">
                                <h2 style="font: sans-serif;font-weight: 900;font-size: 3.5em;color: #000;">
                                  WONKY TEES
                                </h2>
                                <p style="font-weight:900;color: black;font: 20px sans-serif;">
                                    Your Favorite tee , updated. Our relaxed tee features a perfectly oversized fit and sturdy fabrication that offers more structure than your usual tee. For elevating shorts or jeans.
                                </p>
                            </div>
                      
                           
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>


            
        <!-- shop area start -->
        <div class="shop-area ptb-90">
            <div class="container-fluid">
                <div class="swiper-container" style="overflow: hidden;">
                    <div class="swiper-wrapper">
                        <% for (let j = 0; j < FashionData.length; j++){ %>
                            <% let fashion = FashionData[j]; %>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item cat1 swiper-slide">
                                <div class="shop hover-style mb-30">
                                    <div class="shop-img">
                                        <div class="shop-single-img">
                                            <a href="fashion/<%= fashion._id %>">
                                                <img src="<%=fashion.image%>" alt="" style="height: 285px;width: 250px;" />
                                            </a>
                                        
                                        </div>								
                                        <div class="title-style-3 text-center">
                                            <h3 style="color: #000;"><a href="#" style="color: #000;"><%=fashion.heading%></a></h3>
                                        <p style="color: #000;"><%=fashion.description%></p>
                                        </div>
                                    </div>							
                                </div>
                            </div>
                           <%}%>
                        </div>
                </div>
             
            </div>
        </div>			
        <!-- shop area end -->


         <!-- shop area start -->
         <div class="shop-area ptb-90">
            <div class="container-fluid">
                <div class="section-title text-center">
                    <h3 style="font: sans-serif;font-weight: 900;font-size: 2.5em;color: #000;">Featured Collections</h3>
                    <p style="font-weight:900;color: black;font: 16px sans-serif;"></p>
                </div>		
                <div class="swiper-container" style="overflow: hidden;">
                    <div class="swiper-wrapper">
                            <% for (let i = 0; i< ProductData.length; i++){%>
                                <% let item = ProductData[i]%>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item cat1 swiper-slide">
                                <div class="shop hover-style mb-30">
                                    <div class="shop-img">
                                        <div class="shop-single-img">
                                            <a href="/<%=item.code%>">
                                                <img src="<%= item.image[0] %>" alt="" style="height: 285px;width: 250px;" />
                                            </a>
                                            <!-- <div class="product-cart-3">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#productModal<%=i%>"><i class="pe-7s-look"></i></a>
                                            </div> -->
                                        </div>								
                                        <div class="title-style-3 text-center">
                                            <h3><a style="color: #000;" href="#"><%=item.name%></a></h3>
                                            <span class="new-price text-black">₹. <%=item.price%></span>
                                            <span class="old-price text-black">₹. <%=item.mrp%></span>
                                        </div>
                                    </div>							
                                </div>
                            </div>
                           <%}%>
                        </div>
                </div>
                <div class="view-more text-center mt-30">
                    <a href="/shop" style="background-color: #fff; color: black;border-radius: 10px;">view more</a>
                </div>
            </div>
        </div>			
        <!-- shop area end -->


          <!-- blog area start -->
          <div class="blog-area pb-70">
            <div class="container-fluid">
                <div class="section-title text-center mb-50">
                    <h3 style="font: sans-serif;font-weight: 900;font-size: 2.5em;color: #000;">New Offers</h3>
                    <!-- <p style="font-weight:900;color: black;font: 16px sans-serif;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p> -->
                </div>
                <div class="row">
                    <div class="swiper-container" style="overflow: hidden;">
                        <div class="swiper-wrapper">
                    <% for(let i = 0; i < OfferData.length; i++){%>
                        <% let item = OfferData[i]; %>
                    <div class="col-lg-4 col-md-6 col-sm-6 swiper-slide">
                        <div class="single-blog mb-30">
                            <a href="/shop">
                                <img src="<%=item.image%>" style="height: 300px;width: 250px;" alt="">
                            </a>
                            <div class="blog-title">
                                <span><%=item.heading%></span>
                                <h3><a href="/shop"><%=item.description%></a></h3>
                                <a href="/shop">read more</a>
                            </div>
                        </div>
                    </div>
                   <%}%>
                        </div>
                        </div>
                </div>	
            </div>
        </div>
        <!-- blog area end -->


   


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const swiper = new Swiper('.swiper-container', {
                    speed: 400,
                    loop: true,
                    autoplay: {
                        delay: 3000,
                        disableOnInteraction: false
                    },
                    breakpoints: {
                        640: {
                            slidesPerView: 1,
                            spaceBetween: 30,
                        },
                        768: {
                            slidesPerView: 2,
                            spaceBetween: 60,
                        },
                        1024: {
                            slidesPerView: 3,
                            spaceBetween: 60,
                        }
                    }
                });
            });
        </script>
        